<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:composition>
    <p:panelGrid columns="1" layout="grid" id="panel">
        <h:outputText id="outputTextTagId" value="Blubb" />
    </p:panelGrid>
</ui:composition>
</html>