<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
<ui:composition template="../template.xhtml">
    <ui:param name="title" value="Uuuups"></ui:param>
    <ui:define name="content">
        <h:outputText value="Uuups, got error #{message}"/>
    </ui:define>
</ui:composition>
</html>
