<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:br="http://brz.gv.at/tags">
<ui:composition template="template.xhtml">
   <ui:param name="title" value="Proxy"></ui:param>
   <ui:define name="content">
      <h:form>
         <div>
            <h:outputLabel value="${welcomeText}"/>
         </div>
         <p:calendar></p:calendar>
         <div>
            <h:outputLabel value="${sample}"/>
         </div>
      </h:form>
      <br:mytag></br:mytag>
   </ui:define>
</ui:composition>
</html>
