<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui">
<h:head>
   <title>#{title}</title>
   <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
</h:head>
<h:body>
   <pe:layout fullPage="true">
      <pe:layoutPane position="center">
         <div class="ui-fluid center">
            <p:menubar>
               <p:menuitem value="Home" url="/"/>
            </p:menubar>

            <p:spacer height="10"/>

            <ui:insert name="content"/>
         </div>
      </pe:layoutPane>
   </pe:layout>
</h:body>
</html>
